extends layout

block content
  .hero 
    .hero-content
      div
        .small XBOX SERIES X &amp; PLAYSTATION 5 NOW IN STOCK
        .big The next generation of gaming is here.
        a(href="/shop/gameconsoles").shop-now-btn SHOP NOW
  .main
    .main-content
      .shop-categories
        .shop-category(style='background-image: url(/images/gameboxes.jpg);')
          .shop-btn
            a(href="/shop/games") GAMES
        .shop-category(style='background-image: url(/images/xbox.jpg);')
          .shop-btn
            a(href="/shop/gameconsoles") CONSOLES
        .shop-category(style='background-image: url(/images/accessories.jpg);')
          .shop-btn
            a(href="/shop/accessories") ACCESSORIES
      .new-arrivals
        h1 New Arrivals
        .underline
        .category-picker
          button.selected ALL
          button GAMES
          button CONSOLES
          button ACCESSORIES
        .items-window            
          .items
            each item in new_all
              a(href=item.url data-category=item.collection.collectionName).item
                .item-preview
                  .item-preview-content
                    img(src=item.img_url)
                    .item-info
                      if item.gameconsole
                        .item-console #{ item.gameconsole.name }
                      else if item.manufacturer
                        .item-console #{ item.manufacturer }
                      //- .item-console #{ item.gameconsole.name }
                      .item-name #{ item.name }
                      .item-price $#{ item.price }
                .item-window
                  button.add-to-cart VIEW DETAILS
          .hider
      .deal-of-the-week
        .deal-content
          div
            h1 Deal Of The Week
            .underline
            .timer
              .circle
                .count 2
                .unit Day
              .circle
                .count 23
                .unit Hour
              .circle
                .count 48
                .unit Min
              .circle
                .count 8
                .unit Sec
            a(href="/shop/gameconsoles").shop-now-btn.black SHOP NOW
      .best-sellers
        h1 Best Sellers
        .underline
        .items-window
          .items
            a(href="/shop/game/12345").item
              .item-preview
                .item-preview-content
                  img(src="https://i.imgur.com/AMW1ox5.jpg")
                  .item-info
                    .item-console Xbox Series X
                    .item-name Call of Duty: Black Ops Cold War 
                    .item-price $89.99
              .item-window
                button.add-to-cart VIEW DETAILS
            a(href="/shop/game/12345").item
              .item-preview
                .item-preview-content
                  img(src="https://i.imgur.com/AMW1ox5.jpg")
                  .item-info
                    .item-console Xbox Series X
                    .item-name Call of Duty: Black Ops Cold War 
                    .item-price $89.99
              .item-window
                button.add-to-cart VIEW DETAILS
            a(href="/shop/game/12345").item
              .item-preview
                .item-preview-content
                  img(src="https://i.imgur.com/AMW1ox5.jpg")
                  .item-info
                    .item-console Xbox Series X
                    .item-name Call of Duty: Black Ops Cold War 
                    .item-price $89.99
              .item-window
                button.add-to-cart VIEW DETAILS
            a(href="/shop/game/12345").item
              .item-preview
                .item-preview-content
                  img(src="https://i.imgur.com/AMW1ox5.jpg")
                  .item-info
                    .item-console Xbox Series X
                    .item-name Call of Duty: Black Ops Cold War 
                    .item-price $89.99
              .item-window
                button.add-to-cart VIEW DETAILS
            a(href="/shop/game/12345").item
              .item-preview
                .item-preview-content
                  img(src="https://i.imgur.com/AMW1ox5.jpg")
                  .item-info
                    .item-console Xbox Series X
                    .item-name Call of Duty: Black Ops Cold War 
                    .item-price $89.99
              .item-window
                button.add-to-cart VIEW DETAILS
          .hider
  script(src="/scripts/index.js")