extends layout

block content
  .main
    .main-content
      .item-detail
        .img-container
          img(src=item.img_url)
        .item-detail-info
          if category === "game"
            a(href="/shop/games").category Game
          else if category === "accessory"
            a(href="/shop/accessories").category Accessory
          else if category === "gameconsole"
            a(href="/shop/gameconsoles").category Console
          h2 #{ item.name }
          if item.gameconsole
            h3.subtext for 
              a(href=item.gameconsole.url) #{item.gameconsole.name}
          else if item.manufacturer
            h3.subtext by #{item.manufacturer}
          block item-info
            h2.price $#{ Number.parseFloat(item.price).toFixed(2) }
            .item-description #{item.description}
            .fader.hidden
            button.read-more.hidden Read More
            if item.genre
              h4 Genre:
              .item-genre #{item.genre.name}
            h4 In Stock:
            .item-stock #{item.num_in_stock}
      if category === "gameconsole" && (games_list.length || accessories_list.length)
        h2 Games and Accessories for #{item.name}
        .small-item-previews
          each game in games_list
            .small-item-prev
              a(href=game.url)
                img(src=game.img_url)
          each accessory in accessories_list
            .small-item-prev
              a(href=accessory.url)
                img(src=accessory.img_url)
  script(src="/scripts/item_detail.js")