extends layout

block content
  .main
    .main-content
      h1= title
      .underline
      .category-picker
          button.non-interactive FILTER:
          .gameconsole-btn-window
            button.gameconsole-btn
              .btn-text View All
              img(src="/images/caret-down.svg")
            .drop-down
              each gc in gameconsole_list
                button #{ gc.name }
      .items
        each item in item_list
          a(href=item.url).item
            .item-preview
              .item-preview-content
                img(src=item.img_url)
                .item-info
                  .item-console #{ item.gameconsole.name }
                  .item-name #{ item.name }
                  .item-price $#{ item.price }
            .item-window
              button.add-to-cart VIEW DETAILS
        else
          li There are no items.
  script(src="/scripts/item_list.js")