extends layout

block content
  .main
    .main-content
      .item-detail
        .img-container
          img(src=item.img_url)
        .item-info
          h2 #{ item.name }
          h3.subtext for #{item.gameconsole.name}
          h2.price $#{item.price}
          .item-description #{item.description}
          .fader.hidden
          button.read-more.hidden Read More
          h4 Genre:
          .item-genre #{item.genre.name}
          h4 In Stock:
          .item-stock #{item.num_in_stock}
  script(src="/scripts/item_detail.js")